:root {
  --font-ral: "Raleway", sans-serif;
  --color-gray: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --base-lg: 1.36;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.section-title {
  font-family: var(--font-ral);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

/* ----------header of site----------- */

.header {
  background: yellowgreen;
}

/* .header a {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  color: #ffffff;
  бажано так не робити, бо з часом <а> в контактах може змінитися від <а> в навігації
} */

.header-nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #ff6c00;
}

.header-nav-link:active {
  color: #000;
}

.header-contact-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
}

.header-btn {
  color: var(--first-btn-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

/* -------------section hero---------- */

.hero {
  background-image: url(../images/hero.jpg);
}

.hero-list {
  background-color: #ffffff;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: #ff6c00;
}

.hero-uptitle {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: var(--font-ral);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
}

.hero-subtitle {
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ----------section about------------ */

.about {
}

.about-list {
}

.about-item {
}

.about-uptitle {
  color: var(--color-gray);
}

.about-title {
  color: var(--second-title-color);
}

.about-subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  color: var(--second-btn-color);
}

/* -----------section prices---------- */

.prices {
  background-color: #303030;
}

.prices-uptitle {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: var(--first-title-color);
}

.prices-list {
}

.prices-item {
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

.prices-btn {
  color: var(--first-btn-color);
}

/* ----------section benefits--------- */

.benefits {
}
.benefits-list {
}

.benefits-item {
}
.benefits-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}
.benefits-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;

  color: #ff6c00;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: #303030;
}
.benefits-uptitle {
  color: #303030;
}
.benefits-title {
  color: var(--second-title-color);
}
.benefits-subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #555555;
}

/* ----------section barbers---------- */

.barbers {
}

.barbers-uptitle {
  color: var(--second-title-color);
}

.barbers-title {
  color: var(--second-title-color);
}

.barbers-list {
}

.barbers-item {
}

.benefits-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
}

.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: #ff6c00;
}

.barbers-soc-list {
}
.barbers-soc-item {
}
.barbers-soc-link {
}

/* ---------section gallery----------- */

.gallery {
}
.gallery-uptitle {
  color: var(--second-title-color);
}

.gallery-list {
}

.gallery-item {
}

/* ----------section contacts--------- */

.contacts {
}
.contacts-title {
  color: var(--first-title-color);
}
.contacts-address {
}
.contscts-list {
}

.contacts-item {
}

.contacts-link {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: #9da4bd;
}

.contacts-link-bold {
  font-weight: 700;
}

.contacts-schedule-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;

  color: #ffffff;
}

.contacts-schedule-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: #9da4bd;
}

/* -----------footer of site---------- */
